<div class="row">
  <div class="col-xl-6 text-center">
    <img
      class="rounded-circle img-fluid"
      style="height: 300px; width: auto"
      src="../../../assets/img/Profile.jpg"
      alt="รูปภาพของฉันเอง"
    />
  </div>
  <div class="col-xl-6">
    <h2>Passakorn Pantapirat (Gear)</h2>
    <h3>Front-End Developer</h3>
    <hr />
    <p>
      <li>
        <b
          >If you give me a chance i will not let this opportunity pass me by
          working efficientl.</b
        >
      </li>
    </p>
    <p>
      <li><b>i'm ready to develop myself.</b></li>
    </p>
    <p>
      <li><b>i'm ready to be a good developer.</b></li>
    </p>
    <p>
      <i class="fas fa-envelope"> <b> : passakorn.dev@gmail.com</b> </i>
    </p>
    <p>
      <i class="fab fa-github"> <b> : github.com/PassakornGearr </b> </i>
    </p>
    <p>
      <i class="fab fa-facebook-square">
        <b> : facebook.com/passakornGear</b>
      </i>
    </p>
    <p>
      <i class="fab fa-line"> <b> : @G.Passakorn </b> </i>
    </p>
    <p>
      <i class="fas fa-phone-square-alt">
        <b> : 064-639-9943 - 064-864-9570</b></i
      >
    </p>
  </div>
</div>

<div class="row mt-2">
  <div class="col-xl-6">
    <h1 class="text-center">Education</h1>
    <i class="fas fa-graduation-cap mt-2"></i>
    <b> : Computer Science / Chandrakasem Rajabhat University 2015-2019 </b>
    <p>
      <li>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus
        eos, exercitationem corrupti perspiciatis rem magnam, aliquam, quibusdam
        asperiores fugit laudantium neque accusamus quos autem dolorum ab
        suscipit at ipsum laboriosam.
      </li>
    </p>

    <i class="fas fa-graduation-cap mt-2"></i>
    <b>
      : High School / Triamudom Suksa Nomklao School, Pathum Thani 2012-2015
    </b>
    <p>
      <li>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus
        eos, exercitationem corrupti perspiciatis rem magnam, aliquam, quibusdam
        asperiores fugit laudantium neque accusamus quos autem dolorum ab
        suscipit at ipsum laboriosam.
      </li>
    </p>
  </div>

  <div class="col-xl-6">
    <h1 class="text-center">Work Experience</h1>
    <i class="fas fa-briefcase mt-2"></i>
    <b> : Web Developer / ND ELECTRIC 2019-Present</b>
    <p>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis alias
        magni totam magnam accusamus nam voluptatum? Voluptatibus atque laborum
        expedita eos, illo magni dicta vero ipsam libero, molestiae autem.
        Quasi!
      </li>
    </p>
  </div>
</div>

<h2 class="text-sm-center mb-2 mt-2">Skills</h2>
<div class="row">
  <div class="mt-2 col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <p>Html</p>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar"
        aria-valuenow="75"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 80%"
      ></div>
    </div>
  </div>
  <div class="mt-2 col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <p>Css</p>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-dodgerblue"
        role="progressbar"
        aria-valuenow="75"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 60%"
      ></div>
    </div>
  </div>
  <div class="mt-2 col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <p>Javascript</p>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar"
        aria-valuenow="75"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 55%"
      ></div>
    </div>
  </div>
  <div class="mt-2 col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <p>Bootstrap</p>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-purple"
        role="progressbar"
        aria-valuenow="75"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 60%"
      ></div>
    </div>
  </div>
  <div class="mt-2 col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <p>Angular</p>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-crimson"
        role="progressbar"
        aria-valuenow="75"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 50%"
      ></div>
    </div>
  </div>
  <div class="mt-2 col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <p>Php</p>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-purple"
        role="progressbar"
        aria-valuenow="75"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 60%"
      ></div>
    </div>
  </div>
  <div class="mt-2 col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <p>Seo</p>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-crimson"
        role="progressbar"
        aria-valuenow="75"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 50%"
      ></div>
    </div>
  </div>
  <div class="mt-2 col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <p>Express</p>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-chocolate"
        role="progressbar"
        aria-valuenow="75"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 40%"
      ></div>
    </div>
  </div>
  <div class="mt-2 col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <p>Photo shop</p>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-success"
        role="progressbar"
        aria-valuenow="75"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 35%"
      ></div>
    </div>
  </div>
  <div class="mt-2 col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <p>My SQL</p>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-success"
        role="progressbar"
        aria-valuenow="75"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 30%"
      ></div>
    </div>
  </div>
  <div class="mt-2 col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <p>Node.js</p>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-success"
        role="progressbar"
        aria-valuenow="75"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 30%"
      ></div>
    </div>
  </div>
</div>
