<div class="row">
  <div class="col-xl-4">
      <img class="rounded-circle img-fluid border border-warning" style="height: 300px; width: auto;" src="../../../assets/img/Logo.jpg" alt="รูปภาพของฉันเอง">
  </div>
  <div class="col-xl-8">
      <h2>Passakorn Pantapirat (Gear)</h2>
      <h3>Web Developer</h3>
      <hr>
      <p> <li>If you give me a chance i will not let this opportunity pass me by working efficientl.</li> </p>
      <p> <li>i'm ready to develop myself.</li> </p>
      <p> <li>i'm ready to be a good developer.</li> </p>
      <p><i class="fas fa-envelope"> <b> : passakorn.dev@gmail.com</b> </i></p>
      <p><i class="fab fa-facebook-square"> <b> : facebook.com/passakornGear</b> </i></p> 
      <p><i class="fab fa-line"> <b> : @G.Passakorn </b> </i></p>
      <p><i class="fas fa-phone-square-alt"> <b> : 064-639-9943 - 064-864-9570</b ></i></p>
  </div>
</div>